@media (max-width: 576px){
    .header__link{
        display: none;
    }
}
@media (max-width: 1290px){
    .dizayn__div{
        min-height: 600px;
    }
    .dizayn__text2{
        font-size: unset;
    }
}

@media (max-width:1320px) {
    .col__div{
        row-gap: 40px;
        margin-bottom: 50px;
    }
}
@media (max-width: 768px){
    .uslugi__div6{
        row-gap: 20px;
    }
}